.DS_Store
.nodemonignore

test.js
phantomjsdriver.log
npm-debug.log

config/local.js
assets/templates/
assets/lib-bower/
assets/lib/modernizr/modernizr-auto.js
node_modules/
public/
temp/
test/screenshots/