- var page_title = page_title;

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    title page_title
    if config.NODE_ENV != 'production'
      meta(name='robots', content='noindex, nofollow')
    //- meta(name='description', content='')
    //- meta(name='keywords', content='')
    link(rel='stylesheet', href='/css/style.css')
    if config.NODE_ENV == 'development'
      script( type='text/javascript', src='http://localhost:35729/livereload.js')
    script(src='/js/bundle.js')
body
  block header
    header#header
      .btn.menu.left
        .line_one
        .line_two
        .line_three
      .btn.right
      //- switch to h1 if in movie category.
      h2.title= page_title
  block content
  block sidebar
    aside.sidebar
      header
        .title Flix
      ul.category-list