doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
    title Flix
    //- meta(name='description', content='')
    //- meta(name='keywords', content='')
    link(rel='stylesheet', href='/css/style.css')
    script( type='text/javascript', src='http://localhost:35729/livereload.js')
    script(src='/js/bundle.js')
body
  aside.sidebar
    header
      h1 Flix
    ul.category-list
  header#header
    .btn.menu.left
      .line_one
      .line_two
      .line_three
    .btn.right
    h2.title In Theatres
  .alert.offline
    .title Offline Mode
    .message Only categories and movies you've viewed are available.
  .content
    .selected-movie
      header.selected-movie__header
        .title The LEGO Movie
        .btn.menu.left
          .line_one
          .line_two
          .line_three
        .btn.right
      .selected-movie__content
        .fieldset
          .fieldset__label Starring
          .fieldset__value Chris Pratt, Elizabeth Banks, Will Arnett
        .fieldset
          .fieldset__label Synopsis
          .fieldset__value The LEGO Movie is the first-ever, full-length theatrical LEGO adventure. The original 3D computer animated story follows Emmet (Chris Pratt) an ordinary, rules- following, perfectly average LEGO minifigure who is mistakenly identified as the most extraordinary person and the key to saving the world. He is drafted into a fellowship of strangers on an epic quest to stop an evil tyrant, a journey for which Emmet is hopelessly and hilariously underprepared.
        .fieldset
          .fieldset__label Runtime
          .fieldset__value 1h 20m
        .fieldset
          .fieldset__label Release Date
          //- use moment for this
          .fieldset__value June 13, 2014

    ul.movie-list
  .overlay
    .overlay-content
      .popup
        .popup-content
          h3 Permissions
          p iLorem ipsum dolor sit amet, consectetur adipiscing elit. Sed quid attinet de rebus tam apertis plura requirere? Non potes, nisi retexueris illa. Quae cum essent dicta, discessimus.
        .popup-action
          .btn-group.right
            .btn.btn-flat Cancel
            .btn.btn-flat.primary Ok