append variables
  - page_title = list_title

mixin MovieListItem(movie)
  li.is-visible.is-loaded
    a.movie(href='/movie/' + movie.ids.imdb)
      .movie-poster
        img(src=movie.poster_url)
        .inset-shadow
      .movie-info
        .movie-title= movie.title
        .movie-cast= movie.formatted_cast

extends _layout

block content
  .content
    .selected-movie
    ul.movie-list
      each movie in movies
        +MovieListItem(movie)
    .alert.offline
  .overlay(class=open_menu ? 'is-visible' : '')
    .overlay-content
      .popup