// ---------- !TABLE OF CONTENTS ---------- \\

// CORE.............  Header, Content and Footer
// BUTTONS.................  Button Types, Sizes and States

// ---------- !CORE ---------- \\

header#header {
  position: fixed;
  width: 100%;
  height: $header-height-small;
  background-color: $teal;
  @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.26));
  z-index: 4;

  @media #{$medium-up} {
    height: $header-height-medium;
    padding: 0 16px;
  }

  @media #{$large-up} {
    padding-left: $sidebar-width;
  }

  h2.title {
    position: absolute;
    left: 72px;
    font-size: 20px;
    // text-align: center;
    font-weight: $font-weight-regular;
    line-height: $header-height-small;
    color: #fff;

    @media #{$medium-up} {
      line-height: $header-height-medium;
      font-size: 24px;
    }
    @media #{$large-up} {
      left: 27px;
      padding-left: $sidebar-width;
    }
  }

  .btn {
    height: 48px;
    width: 48px;
    background: rbga(0,0,0, 0.9);
    padding: 0 6px;
    margin: 4px;

    @media #{$medium-up} {
      padding: 0 6px;
      margin: 8px 0;
    }

    @media #{$large-up} {
      display: none;
    }


    &.menu {
      padding: 16px 12px;

      .line, .line_one, .line_two, .line_three {
        width: 18px;
        height: 2px;
        background-color: white;
      }

      .line_one {
      }

      .line_two {
        margin-top: 3px;
      }

      .line_three {
        margin-top: 3px;
      }
    }
  }
}

.content {
  position: relative;
  overflow: hidden;

  @media #{$large-up} {
    margin-left: $sidebar-width;
  }
}

aside.sidebar {
  position: fixed;
  top: 0;
  left: -$sidebar-width;
  width: $sidebar-width;
  height: 100%;
  background: #fff;
  z-index: 100;
  @include transition (all 0.3s cubic-bezier(.4,0,.2,1) 0.1s);
  @include user-select(none);

  @media #{$large-up} {
    display: inline-block;
    left: 0;
    @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.26));
  }
  &.is-visible {
    display: inline-block;
    left: 0;
  }
  header {
    height: $header-height-small;
    border-bottom: 1px solid #e0e0e0;
    padding-left: 16px;
    padding-right: 16px;

    @media #{$medium-up} {
      height: $header-height-medium;
    }
    .title {
      font-size: 20px;
      line-height: $header-height-small;
      color: $color-text-secondary;

      @media #{$medium-up} {
        font-size: 24px;
        line-height: $header-height-medium;
      }
    }
  }
  .category-list {
    padding-top: 12px;

    li {
      color: rgb(51, 51, 51);
      font-size: 13px;
      font-weight: $font-weight-medium;
      a {
        display: block;
        padding: 12px 16px;
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  @include transition (all 0.3s ease-in);

  &.is-visible {
    display: inline-block;
    @include bgfade(#000, 0.5);
    z-index: 99;

    @media #{$large-up} {
      background: none;
      z-index: -1;
    }
  }
  .overlay-content {
    position: relative;
    width: 100%;
    height: 100%;
  }
}