// ---------- !SELECTED MOVIE ---------- \\
.selected-movie {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 1000;
  @include transform(translate3d(1000px, 0, 0));
  @include transition(all 1s cubic-bezier(0.19, 1, 0.22, 1));

  &.is-visible {
    @include transform(translate3d(0, 0, 0));
  }
  @media #{$medium-up} {
    display: none;
  }

  .selected-movie__header {
    position: relative;
    width: 100%;
    height: 180px;
    background-size: cover;
    background-color: black;
    overflow: hidden;
    z-index: 4;

    .title {
      position: absolute;
      bottom: 0;
      width: 100%;
      min-height: 50px;
      padding: 16px;
      @include bgfade(#000, 0.5);
      color: white;
      font-size: 18px;
      font-weight: $font-weight-medium;
    }

    .img {
      position: absolute;
      left: 0;
      width: 100%;
      height: 180px;
      border: 0;
      background: red;
      opacity: 0;
      z-index: -1;

      &.is-visible {
        opacity: 1;
        background: none;
        background-size: cover;
        @include transform(scale(1.05));
        @include transition(opacity 1s cubic-bezier(0.19, 1, 0.22, 1));
      }

      img {
        opacity: 0;
      }
    }

    .btn {
      height: 48px;
      width: 48px;
      background: rbga(0,0,0, 0.9);
      padding: 0 6px;
      margin: 4px;

      @media #{$medium-up} {
        padding: 0 6px;
        margin: 8px 0;
      }


      &.menu {
        padding: 16px 12px;

        .line, .line_one, .line_two, .line_three {
          width: 18px;
          height: 2px;
          background-color: white;
        }

        .line_one {
        }

        .line_two {
          margin-top: 3px;
        }

        .line_three {
          margin-top: 3px;
        }
      }
    }
  }
  .selected-movie__content {
    padding: 16px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .fieldset {
    margin-bottom: 16px;
    .fieldset__label {
      margin-bottom: 2px;
      color: $color-text-primary;
    }
    .fieldset__value {
      color: $color-text-secondary;
      font-size: 12px;
    }
  }
}

// ---------- !ALERT ---------- \\
.alert {
  position: fixed;
  left: 0;
  width: 100%;
  padding: 10px;
  height: 58px;
  background-color: #fdd835;
  color: $color-text-primary;
  text-align: center;
  @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.26));
  @include transition(all 1s cubic-bezier(0.19, 1, 0.22, 1));
  z-index: 3;

  @media #{$large-up} {
    padding-left: ($sidebar-width + 10px);
  }

  &.is-visible {
    top: 56px;
    @media #{$medium-up} {
      top: 64px;
    }
  }
  .title {
    font-weight: $font-weight-medium;
  }

  .message {
    font-size: 12px;
  }
}

// ---------- !POPUP ---------- \\
.popup {
  opacity: 0;
  position: absolute;
  top: 100px;
  width: 300px;
  background-color: #fff;
  border-radius: 2px;
  @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.26));
  @include transition(all 0.3s ease-out);
  @include transform(scale(1.1));
  z-index: 300;

  &.is-visible {
    opacity: 1;
    @include transform(none)
  }
  .popup-content {
    padding: 16px;
    font-size: 14px;

    @media #{$medium-up} {
      font-size: 15px;
    }

    p {
      color: $color-text-primary;
    }
  }
  .popup-action {
    @include micro-clearfix;
    padding: 16px;
  }
}


// ---------- !LIST ---------- \\
.movie-list {
  position: relative;
  padding-top: $header-height-small;
  @include user-select(none);
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  &.is-offline {
    padding-top: $header-height-small + 58px;
  }

  @media #{$medium-up} {
    padding-top: $header-height-medium + 27px;
    padding-left: 27px;
  }

  li {
    @include micro-clearfix;
    list-style-type: none;
    opacity: 0;
    @include transition(opacity 1s cubic-bezier(0.19, 1, 0.22, 1), transform 1s cubic-bezier(0.19, 1, 0.22, 1));

    @media #{$small-only} {
      min-height: 76px;
      padding: 8px 16px;
      background-color: $white;

    }

    @media #{$medium-only} {
      float: left;
      width: 25%;
      padding: 0;
      margin-bottom: 27px;

      padding-right: 27px;
      &:nth-child(4n) {
        margin-right: 0;
      }
    }

    @media #{$large-up} {
      float: left;
      width: 20%;
      padding: 0;
      margin-bottom: 27px;

      padding-right: 27px;

      &:nth-child(6n) {
        margin-right: 0;
      }
    }

    &.is-visible {
      opacity: 1;
    }
    &:active {
      border-radius: 2px;
      @media #{$small-only} {
        background: #f1f1f1;
        // enable for non-touch after setting up modernizr
        // @include transform(scale(1.02));
        @include box-shadow(0 0 3px rgba(0, 0, 0, 0.22));
      }
      @media #{$medium-up} {
        .movie-poster {
          // enable for non-touch after setting up modernizr
          // @include transform(scale(1.05) !important);
          @include box-shadow(0 2px 5px rgba(0, 0, 0, 0.26));
        }
      }
    }

    &.is-selected {
    }

    &.is-loaded {
      .movie-poster {
        opacity: 1;
        @include transform(none);
      }
    }
  }

  a.movie {
    display: block;
    @include micro-clearfix;

    @media #{$small-only} {
      height: 60px;
    }
  }

  .movie-poster {
    opacity: 0;
    overflow: hidden;
    border-radius: 2px;

    @media #{$small-only} {
      position: absolute;
      width: 40px;
      height: 60px;
      @include transition(opacity 2s cubic-bezier(0.19, 1, 0.22, 1));
    }

    @media #{$medium-up} {
      position: relative;
      float: left;
      width: 100%;
      padding-bottom: 150%;
      @include transition(transform 1s cubic-bezier(0.19, 1, 0.22, 1));
    }

    @media #{$large-up} {
      // max-height: 185px;
    }

    img {
      position: absolute;
      width: 100%;
      height: 100%;

      @media #{$medium-up} {
        top: 0;
        left: 0;
      }
    }

    .inset-shadow {
      position: absolute;
      width: 100%;
      height: 100%;
      @include box-shadow(inset 0 0 0 1px rgba(0,0,0,.08));
      z-index: 2;

      @media #{$medium-up} {
        top: 0;
      }
    }
  }

  .movie-info {
    width: 100%;
    @media #{$small-only} {
      padding-left: 56px;
    }

    @media #{$medium-up} {
      float: left;
      padding-top: 10px;
      min-height: 70px;
    }
  }
  .movie-title {
    color: $color-text-primary;
    font-size: 14px;

    @media #{$medium-up} {
      // font-size: 12px;
    }
  }
  .movie-cast {
    color: $color-text-secondary;
    font-size: 12px;
    @include text-ellipsis;
  }
  span {
    display: block;
  }
}

// ---------- !BUTTONS ---------- \\
.btn {
  @include user-select(none);
  cursor: pointer;

  &.btn-floating-action {

  }
  &.btn-raised {
    font-size: 14px;

    @media #{$medium-up} {
      font-size: 15px;
    }
  }
  &.btn-flat {
    float: left;
    height: 36px;
    padding: 0 16px;
    border-radius: 2px;
    line-height: 36px;
    font-size: 14px;
    font-weight: $font-weight-medium;
    text-transform: uppercase;
    color: $color-text-primary;

    @media #{$medium-up} {
      font-size: 15px;
    }

    &:hover {
      background-color: #ddd;
      // @include box-shadow(inset 0 0 0 1px rgba(0,0,0,.08));
    }

    &:active {
      background-color: #cecece;
    }

    &.primary {
      color: #1194f6;

      &:hover {
        color: #fff;
        background-color: #1194f6;
      }

      &:active {
        background-color: #0c74d5;
      }
    }
  }
  // btn helpers
  &.left {
    float: left;
  }

  &.right {
    float: right;
  }
}


// ---------- !MEDIA OBJECT ---------- \\
.media {
  margin: 0 auto 10px;
  @media #{$medium-up} {
    margin: 0 auto 20px;
  }
  .media-image {
    float: left;
    margin-right: 10px;

    &.right {
      float: right;
      margin-left: 10px;
    }
    img {
      display: block;
    }
  }
}

.media, .media-content {
  overflow: hidden;
  _overflow: visible;
  zoom: 1;
}


// ---------- !HELPERS ---------- \\
.text-ellipsis {
  @include text-ellipsis;
  padding-right: 20px;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}


.visible-phone {
  @media #{$medium-up} {
    display: none !important;
  }
}

.hidden-phone {
  display: none !important;
  @media #{$medium-up} {
    display: inline !important;
  }
}

.hidden-tablet {
  @media #{$medium-only} {
    display: none !important;
  }
}

.hidden-desktop {
  @media #{$large-up} {
    display: none !important;
  }
}

.visible-desktop {
  display: none !important;
  @media #{$large-up} {
    display: inline !important;;
  }
}

.text-uppercase {
  text-transform: uppercase;
}
